:root {
    --width: 100%;
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(231, 5%, 73%);
    --grayish-blue: hsl(212, 45%, 89%);
    --dark-blue: hsl(216, 99%, 60%);
    --font-family: "Outfit", sans-serif;
    --font-size: 15px;
    --gap: 20px;
    --radius: 10px;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    height: 100vh;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size);
    background: var(--grayish-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
  
    @media screen and (min-width: 420px) {
      padding: 0;
    }
  }
  
  .card {
    width: var(--width); /* for mobile devices */
    background: var(--white);
    padding: var(--gap);
    border-radius: var(--radius);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap);
  
    @media screen and (min-width: 420px) {
      --width: 320px;
    }

    /* QR code box */
    .qr-box {
        border-radius: var(--radius);
        width: 100%;
        aspect-ratio: 1 / 1;
        overflow: hidden;
          img {
            width: 100%;
            object-fit: cover;
          }
      }


      /* QR code content */
      .content {
        text-align: center;
    
        h2 {
          --gap: 10px;
          font-size: clamp(1.2rem, 1.5vw + 0.5rem, 1.5rem);
          font-weight: 700;
          margin-bottom: var(--gap);
        }
    
        p {
          color: var(--light-gray);
        }
      }
  }
  
  
  /* attributon */
  .attribution {
    --font-size: 11px;
    font-size: var(--font-size);
    text-align: center;
    margin-top: var(--gap);
  
    a {
      color: var(--dark-blue);
    }
  }
  