* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --card-width: 20rem;
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(231, 5%, 73%);
  --grayish-blue: hsl(212, 45%, 89%);
  --dark-blue: hsl(216, 99%, 60%);
  --font-family: "Outfit", sans-serif;
  --font-size: 1rem;
  --gap: 20px;
  --radius: 10px;
}

body {
  min-height: 100vh;
  font-family: var(--font-family);
  font-size: var(--font-size);
  background: var(--grayish-blue);
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.card {
  max-width: var(--card-width);
  background: var(--white);
  padding: var(--gap);
  border-radius: var(--radius);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--gap);

  /* QR code box */
  .qr-box {
    border-radius: var(--radius);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    img {
      display: block;
      max-width: 100%;
    }
  }

  /* QR code content */
  .content {
    h1 {
      --gap: 10px;
      font-size: clamp(1.2rem, 1.5vw + 0.5rem, 1.5rem);
      font-weight: 700;
      margin-bottom: var(--gap);
    }

    p {
      color: var(--light-gray);
    }
  }
}

/* attributon */
.attribution {
  --font-size: 0.75rem;
  font-size: var(--font-size);
  margin-top: var(--gap);

  a {
    color: var(--dark-blue);
  }
}
